@charset "UTF-8";
html {
  font-size: 62.5%;
  --yellow: #f8d249;
  --brown: #48230E;
  --aqua: #349EDA;
  --button: #FFC700;
  font-family: "M PLUS 1", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

@media (min-width: 960px) {
  h2.secTtl {
    color: var(--brown);
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 1rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-flow: column nowrap;
    line-height: 1;
    margin: 0 auto;
    padding-top: 5rem;
  }
  h2.secTtl span {
    font-size: 0.5em;
    color: var(--yellow);
    background-color: var(--brown);
    letter-spacing: 0.5rem;
    margin-right: 0.5rem;
    font-weight: 700;
  }
  h2.secTtl em {
    font-style: normal;
    letter-spacing: 0;
  }
  div#loader {
    opacity: 1;
    position: fixed;
    inset: 0;
    z-index: 999999;
    background-color: var(--yellow);
    transition: all 0.5s linear;
    pointer-events: none;
  }
  div#loader video {
    width: 100vw;
    height: 100vh;
    transform: scale(0.3);
  }
  div#loader.loaded {
    opacity: 0;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--aqua);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5vw;
  }
  header ul#snsLink {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2rem;
  }
  header ul#snsLink li {
    padding: 0.5rem;
    border-radius: 50%;
  }
  header nav {
    position: fixed;
    right: 1vw;
    top: 1vw;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2.6rem;
    padding-top: 4vh;
  }
  header nav svg.menuBg {
    position: fixed;
    overflow: hidden;
    top: -1vw;
    right: -2vw;
    transform: scale(0.9);
    transform-origin: right top;
  }
  header nav .menu {
    background-color: var(--brown);
    width: 13rem;
    height: 0.8rem;
    border-radius: 5px;
    position: relative;
  }
  #mainVisual {
    padding: 0 5vw;
  }
  #mainVisual div.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  #mainVisual div.video video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  #mainVisual div.video::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background: url(../image/png.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
  }
  #mainVisual section#mainCopy {
    padding-top: 35vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  #mainVisual section#mainCopy h1 {
    width: 70%;
  }
  #mainVisual section#mainCopy h1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #mainVisual section#mainCopy h2 {
    width: 27vw;
    animation: float 2s linear infinite;
    position: absolute;
    right: -1vw;
  }
  #mainVisual section#mainCopy h2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @keyframes float {
    from {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-1vw);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(1vw);
    }
    100% {
      transform: translateY(0);
    }
  }
  #mainVisual h2 {
    width: 90vw;
    margin-top: 2rem;
  }
  #mainVisual h2 svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #mainVisual ul.subsc {
    display: grid;
    grid-template-columns: repeat(6 auto);
    grid-template-rows: auto;
    grid-template-areas: "auto auto auto auto auto auto";
    gap: 1rem;
    margin-top: 1vw;
    padding-bottom: 3rem;
    font-weight: 500;
  }
  #mainVisual ul.subsc li {
    color: var(--brown);
    background-color: var(--yellow);
    text-align: center;
    font-size: 2.8rem;
    border-radius: 5px;
    width: 100%;
    font-weight: 700;
    opacity: 1;
  }
  #mainVisual ul.subsc li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1.5vw 0;
  }
  #mainVisual ul.subsc li:hover {
    opacity: 0.5;
  }
  #trailer {
    padding: 2.5rem 5%;
    background-color: var(--yellow);
  }
  #trailer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 1rem;
  }
  #trailer ul li {
    font-size: 2rem;
    background-color: var(--brown);
    color: var(--yellow);
    border-radius: 20px;
    height: 15rem;
    width: calc(24.8% - 1vw);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
    flex-shrink: 3;
  }
  #trailer ul li::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--brown);
    opacity: 0.5;
    position: absolute;
    inset: 0;
    border-radius: 20px;
    transition: all 0.3s ease;
  }
  #trailer ul li a {
    position: relative;
    z-index: 1;
    filter: drop-shadow(0 0 2px var(--brown));
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  #trailer ul li:nth-child(1) {
    background: url(../image/trailer1.png);
    background-size: cover;
    background-position: center;
  }
  #trailer ul li:nth-child(2) {
    background: url(../image/trailer2.png);
    background-size: cover;
    background-position: center;
  }
  #trailer ul li:nth-child(3) {
    background: url(../image/trailer3.png);
    background-size: cover;
    background-position: center;
  }
  #trailer ul li:nth-child(4) {
    background: url(../image/trailer4.png);
    background-size: cover;
    background-position: center;
  }
  #trailer ul li:hover {
    flex-grow: 3;
  }
  #trailer ul li:hover::after {
    opacity: 0.2;
  }
  #charactersMain {
    background-color: var(--yellow);
    text-align: center;
    padding-top: 5rem;
  }
  #charactersMain h2.secTtl {
    transform: translateY(-5rem);
    transition: all 0.5s ease;
    transform-origin: top;
    opacity: 0;
  }
  #charactersMain ul {
    margin: 0 auto;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -6vw;
  }
  #charactersMain ul li:nth-child(1) {
    width: 27vw;
  }
  #charactersMain ul li:nth-child(2) {
    width: 21vw;
  }
  #charactersMain ul li:nth-child(3) {
    width: 27vw;
  }
  #charactersMain ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: multiply;
    opacity: 0.5;
    transition: all 0.3s ease;
    filter: contrast(1) sepia(2);
  }
  #charactersMain ul li img:hover {
    mix-blend-mode: multiply;
    filter: contrast(1.3) sepia(0) hue-rotate(-30deg);
    opacity: 1;
  }
  #charactersMain ul li article {
    text-align: left;
    width: 35rem;
    background-color: var(--yellow);
    border: var(--brown) 5px solid;
    border-radius: 2rem;
    padding: 2.5rem;
    position: absolute;
    z-index: 1;
    top: 10vw;
    left: 15vw;
    opacity: 0;
    pointer-events: none;
    animation: disappearKevin 0.2s;
  }
  #charactersMain ul li article::before {
    content: "";
    display: block;
    width: 15rem;
    height: 10rem;
    position: absolute;
  }
  @keyframes wiggleHair {
    from {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(12deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-12deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes wiggleHair2 {
    from {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  #charactersMain ul li article.cardKevin::before {
    background: url("data:image/svg+xml,%3Csvg width='52' height='65' viewBox='0 0 52 65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.5 62.5C25.5 29 35 10 49.5 10' stroke='%2348230E' stroke-width='5' stroke-linecap='round'/%3E%3Cpath d='M46.0002 3C23.5002 3 25.5002 40 25.5002 62.5C25.5002 19 13 16.5 3 16.5' stroke='%2348230E' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    top: -6.6rem;
    left: 14.5rem;
    transform-origin: 20% 65%;
    animation: wiggleHair 2s infinite linear;
  }
  #charactersMain ul li article.cardKevin h3 {
    background: url(../image/kevinEye.png);
    background-size: cover;
  }
  #charactersMain ul li article.cardBob {
    top: -8vw;
    left: 15vw;
  }
  #charactersMain ul li article.cardBob::before {
    background: "";
  }
  #charactersMain ul li article.cardBob h3 {
    background: url(../image/bobEye.png);
    background-size: cover;
  }
  #charactersMain ul li article.cardStuart {
    top: -5vw;
    left: -12vw;
  }
  #charactersMain ul li article.cardStuart::before {
    background-image: url("data:image/svg+xml,%3Csvg width='127' height='29' viewBox='0 0 127 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M124.5 10.5001C106 -7.99963 57 9.00053 57 28.5005C57 14.0001 36 0 3 7.5' stroke='%2348230E' stroke-width='5' stroke-linecap='round'/%3E%3Cpath d='M121 21.5C90 10.5 57 18.5 57 28.5C57 18.5 31 16.5 17.5 16.5' stroke='%2348230E' stroke-width='5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    top: -3.1rem;
    left: 11rem;
    animation: wiggleHair2 2s infinite linear;
  }
  #charactersMain ul li article h3 {
    color: var(--brown);
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.45rem;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
  }
  #charactersMain ul li article h3 span {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.09rem;
  }
  #charactersMain ul li article p {
    color: var(--brown);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 175%;
    letter-spacing: 0.08rem;
    margin-bottom: 1.5rem;
  }
  #charactersMain ul li article p span {
    font-weight: 700;
  }
  #charactersMain ul li article h4 {
    color: var(--brown);
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  #charactersMain ul li article h4::after {
    content: "";
    width: 87%;
    height: 3px;
    display: block;
    background-color: var(--brown);
  }
  #charactersMain ul li article dl {
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
  }
  #charactersMain ul li article dl div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--brown);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 175%; /* 28px */
    letter-spacing: 0.8px;
  }
  #charactersMain ul li#kevin {
    position: relative;
  }
  #charactersMain ul li#kevin:hover article.cardKevin {
    opacity: 1;
    pointer-events: all;
    animation: appearKevin 0.3s;
    transform: rotate(0deg);
  }
  #charactersMain ul li#kevin:hover article.cardKevin:hover {
    transform: rotate(-2.8deg);
  }
  #charactersMain ul li#bob {
    position: relative;
  }
  #charactersMain ul li#bob:hover article.cardBob {
    opacity: 1;
    pointer-events: all;
    animation: appearKevin 0.3s;
    transform: rotate(0deg);
  }
  #charactersMain ul li#bob:hover article.cardBob:hover {
    transform: rotate(-2.8deg);
  }
  #charactersMain ul li#stuart {
    position: relative;
  }
  #charactersMain ul li#stuart:hover article.cardStuart {
    opacity: 1;
    pointer-events: all;
    animation: appearKevin 0.3s;
    transform: rotate(0deg);
  }
  #charactersMain ul li#stuart:hover article.cardStuart:hover {
    transform: rotate(-2.8deg);
  }
  @keyframes appearKevin {
    from {
      transform: rotate(-8deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    80% {
      transform: rotate(2deg);
    }
    95% {
      transform: rotate(-0.5deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
  @keyframes disappearKevin {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    40% {
      transform: rotate(2deg);
      opacity: 1;
    }
    80% {
      transform: rotate(-9deg);
    }
    to {
      transform: rotate(-10deg);
      opacity: 0;
    }
  }
  #charactersMain.show h2.secTtl {
    transform: translateY(0);
    opacity: 1;
  }
  #charactersSub {
    background-color: var(--yellow);
    width: 100%;
  }
  #charactersSub h2 {
    text-align: start;
    align-items: start;
    padding: 0 5%;
    transform: translateX(5rem);
    opacity: 0;
    transition: all 0.5s ease;
  }
  #charactersSub ul {
    display: flex;
    margin-top: 2.5rem;
    padding-left: 5%;
    flex-flow: row nowrap;
    column-gap: 1.5rem;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  #charactersSub ul::-webkit-scrollbar {
    display: none;
  }
  #charactersSub ul li {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 3rem;
    border: 5px solid var(--brown);
    opacity: 0;
    transform: translateX(2rem);
    transition: all 0.3s ease;
    pointer-events: none;
  }
  #charactersSub ul li.show {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0);
  }
  #charactersSub ul li h3 {
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: -1.1px;
    display: flex;
    flex-flow: column nowrap;
    margin: 1.5rem;
    opacity: 1;
    transition: all 0.3s ease;
    transform: translateY(0);
  }
  #charactersSub ul li h3 span {
    width: fit-content;
    background-color: var(--yellow);
    color: var(--brown);
  }
  #charactersSub ul li h3 span.miniText {
    font-size: 1.6rem;
    font-weight: 600;
  }
  #charactersSub ul li div.image {
    min-width: 35rem;
    height: 50rem;
    border-radius: 2.3rem;
    display: flex;
    align-items: end;
    margin: 0;
    box-shadow: 0px 0px 0px 5px var(--brown);
  }
  #charactersSub ul li div.image:nth-child(1) {
    background: url(../image/scarlet.png);
    background-position: center;
    background-size: 125%;
    transition: all 0.3s ease;
  }
  #charactersSub ul li div.desc {
    min-width: 35rem;
    max-width: 50rem;
    height: 50rem;
    padding: 1rem 1rem 1rem calc(1rem + 5px);
    display: none;
  }
  #charactersSub ul li div.desc h3.animate {
    animation: subCardsh3 0.3s ease;
  }
  @keyframes subCardsh3 {
    from {
      opacity: 0;
      transform: translateY(-1.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  #charactersSub ul li div.desc p.animate {
    animation: subCardsp 0.3s ease;
  }
  @keyframes subCardsp {
    from {
      opacity: 0;
      transform: translateX(-0.75rem);
    }
    50% {
      opacity: 0;
      transform: translateX(-0.75rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  #charactersSub ul li div.desc h3 {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #charactersSub ul li div.desc p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175%; /* 28px */
    letter-spacing: 0.8px;
  }
  #charactersSub ul li div.desc p span {
    font-weight: 500;
  }
  #charactersSub ul li::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--yellow);
    mix-blend-mode: color;
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
  }
  #charactersSub ul li:hover::after {
    opacity: 1;
  }
  #charactersSub ul li:hover div.image {
    box-shadow: 0px 0px 0px 5px var(--brown);
    background-size: 130%;
  }
  #charactersSub ul li:hover div.image h3 {
    opacity: 0;
    transform: translateY(3rem);
  }
  #charactersSub ul li:hover div.desc {
    display: block;
  }
  #charactersSub section {
    padding: 0 5%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
    column-gap: 2rem;
  }
  #charactersSub section .progressBar {
    width: 100%;
    height: 1rem;
    background-color: var(--yellow);
    border: 5px solid var(--brown);
    box-sizing: content-box;
    border-radius: 1.2rem;
    position: relative;
  }
  #charactersSub section .progressBar::after {
    content: "";
    width: 100%;
    height: 0.5rem;
    background-color: var(--brown);
    border: 5px solid var(--brown);
    box-sizing: border-box;
    border-radius: 1.2rem;
    position: absolute;
    inset: 0;
  }
  #charactersSub section .buttons {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2rem;
  }
  #charactersSub.show h2 {
    transform: translateX(0);
    opacity: 1;
  }
  #prologue {
    background-color: var(--yellow);
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--yellow);
    line-height: 200%;
    padding-top: 15rem;
  }
  #prologue h2 {
    top: 5rem;
    overflow: visible;
    transition: top 0.3s ease, position 0.3s ease;
    width: fit-content;
    height: fit-content;
    margin-bottom: 5rem;
  }
  #prologue h2 span {
    text-shadow: none;
  }
  #prologue div.image {
    width: 90vw;
    height: 100vh;
    background: url(../image/mainBg.png);
    background-size: cover;
    margin-top: 5rem;
    margin: 0 auto;
    transition: all 1s ease;
  }
  #prologue div.image.show {
    width: 100vw;
  }
  #prologue p {
    font-style: italic;
    text-shadow: 2px 2px 0 var(--brown), -2px -2px 0 var(--brown), -2px 2px 0 var(--brown), 2px -2px 0 var(--brown), 0px 2px 0 var(--brown), 0 -2px 0 var(--brown), -2px 0 0 var(--brown), 2px 0 0 var(--brown);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-3vw);
  }
  #prologue p span {
    position: absolute;
    display: none;
  }
  #prologue p span:nth-child(1) {
    display: inline;
  }
  #prologue p span::before {
    content: "―――";
  }
  #collabo {
    background-color: var(--yellow);
    padding-top: 15rem;
    padding: 0 5%;
  }
  #collabo h2.secTtl {
    padding-top: 20rem;
    opacity: 0;
    transform: translateY(-5rem);
    transition: all 0.5s ease;
  }
  #collabo section.flex {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2rem;
    height: 80vh;
    overflow: hidden;
  }
  #collabo section.flex section.movies {
    order: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    row-gap: 5rem;
    margin-top: 5rem;
    margin-left: 2rem;
  }
  #collabo section.flex section.movies figure {
    height: 45%;
    display: flex;
    flex-flow: column;
    position: relative;
  }
  #collabo section.flex section.movies figure figcaption {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 1.5rem;
    position: absolute;
    left: -2rem;
    top: -5rem;
    z-index: 2;
  }
  #collabo section.flex section.movies figure figcaption p {
    width: 11rem;
    height: 11rem;
    filter: drop-shadow(0.3rem 0.3rem #f90);
  }
  #collabo section.flex section.movies figure figcaption p img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #collabo section.flex section.movies figure figcaption h3 {
    display: flex;
    flex-flow: column nowrap;
    color: #FFFAED;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    row-gap: 0.5rem;
  }
  #collabo section.flex section.movies figure figcaption h3 span {
    background-color: #f90;
    width: fit-content;
  }
  #collabo section.flex section.movies figure a {
    width: calc(45vw - 2rem);
    border-radius: 3rem;
    border: #f90 5px solid;
    overflow: hidden;
  }
  #collabo section.flex section.movies figure a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  #collabo section.flex section.movies figure a::after {
    content: "Youtubeで見る";
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    inset: 0;
    display: block;
    pointer-events: none;
    border-radius: 3rem;
    opacity: 0;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    transition: all 0.3s ease;
  }
  #collabo section.flex section.movies figure a:hover img {
    transform: scale(1.02);
  }
  #collabo section.flex section.movies figure a:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  #collabo section.flex section.movies figure:nth-child(1) figcaption p {
    filter: drop-shadow(0.3rem 0.3rem rgb(247, 82, 137));
  }
  #collabo section.flex section.movies figure:nth-child(1) figcaption h3 span {
    background-color: rgb(247, 82, 137);
  }
  #collabo section.flex section.movies figure:nth-child(1) a {
    border: rgb(247, 82, 137) 5px solid;
  }
  #collabo section.flex section.news {
    order: 2;
    background-color: var(--yellow);
    margin-top: 5rem;
    overflow: scroll;
  }
  #collabo section.flex section.news::-webkit-scrollbar {
    display: none;
  }
  #collabo section.flex section.news h2 {
    align-items: end;
  }
  #collabo section.flex section.news h2 span {
    margin-right: 10px;
  }
  #collabo section.flex section.news ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    row-gap: 2rem;
  }
  #collabo section.flex section.news ul li article {
    display: flex;
    flex-flow: column nowrap;
    border: var(--brown) 5px solid;
    border-radius: 2rem;
    padding: 0 2rem;
    position: relative;
    z-index: 1;
  }
  #collabo section.flex section.news ul li article h3 {
    margin-top: 2rem;
    color: var(--brown);
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2.1px;
    line-height: 220%;
  }
  #collabo section.flex section.news ul li article h3 span {
    background-color: var(--brown);
    color: var(--yellow);
    width: fit-content;
    height: fit-content;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    letter-spacing: -0.4px;
  }
  #collabo section.flex section.news ul li article p {
    overflow: hidden;
    color: var(--brown);
    text-overflow: ellipsis;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 170%; /* 27.2px */
    margin-top: 1rem;
  }
  #collabo section.flex section.news ul li article a {
    padding: 1.5rem;
    background-color: var(--button);
    display: block;
    font-size: 2rem;
    color: var(--brown);
    margin-left: auto;
    border-radius: 1rem;
    font-weight: 900;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border: var(--brown) 2px solid;
    transition: all 0.3s ease;
  }
  #collabo section.flex section.news ul li article:hover a {
    color: var(--brown);
    background-color: var(--yellow);
    border: var(--brown) 2px solid;
  }
  #collabo a.button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color: var(--button);
    border-radius: 3rem;
    filter: drop-shadow(4px 4px 0 var(--brown));
    width: 20%;
    color: var(--brown);
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 5.2px;
    border: var(--brown) 5px solid;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: 1rem;
    transition: all 0.5s ease;
    position: relative;
    top: 0;
    left: 0;
  }
  #collabo a.button:hover {
    filter: drop-shadow(0 0 0 var(--brown));
    top: 4px;
    left: 4px;
  }
  #collabo.show h2 {
    opacity: 1;
    transform: translateY(0);
  }
  #collabo.show h2 section.flex section.news ul li {
    transform: translateY(0);
    opacity: 1;
  }
  #otherFilms {
    background: var(--yellow);
    padding: 0 5%;
    padding-top: 10rem;
  }
  #otherFilms ul {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2rem;
    width: 100%;
    margin-top: 5rem;
  }
  #otherFilms ul li {
    border-radius: 2rem;
    border: var(--brown) 5px solid;
  }
  #otherFilms ul li a {
    width: 100%;
    overflow: hidden;
  }
  #otherFilms ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
  }
  #otherFilms section.searchBox a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 50%;
    height: 100%;
    margin: 3rem auto 0 auto;
    border: 5px solid var(--brown);
    background-color: var(--button);
    border-radius: 2rem;
    filter: drop-shadow(4px 4px 0 var(--brown));
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
  }
  #otherFilms section.searchBox a:hover {
    filter: drop-shadow(0 0 0 var(--brown));
    top: 4px;
    left: 4px;
  }
  #otherFilms section.searchBox a p {
    color: var(--brown);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
    position: relative;
  }
  #otherFilms section.searchBox a p span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    transform-style: preserve-3d;
    transition: all 0.2s ease;
    transform-origin: 0 50% -2rem;
  }
  #otherFilms section.searchBox a p span.hover {
    rotate: x 90deg;
  }
  #otherFilms section.searchBox a:hover p span.hover {
    rotate: x 0deg;
  }
  #otherFilms section.searchBox a:hover p span.default {
    rotate: x -90deg;
  }
  #footer {
    background: url(../image/footer_bg.svg);
  }
  #footer p.footerImage {
    width: 35%;
  }
  #footer p.footerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #fff;
    background-color: #134472;
    padding: 0 5%;
  }
  footer ul {
    display: flex;
    flex-flow: row nowrap;
  }
}/*# sourceMappingURL=style.css.map */